# XGBoost Iris Classifier

In [3]:
# ----------------------------------------------
# filename xgboost_book1_iris_classifier
# purpose - learn XGBoost Classification by working with the Iris dataset
# Author - Craig D Murray
# version 1.0
# version history - 1.0 Initial script

## Import Support Modules

In [8]:
import numpy as np
import pandas as pd

from sklearn import datasets

### Load Data

In [16]:
irisarray = datasets.load_iris()
# print(irisarray)

In [25]:
irisdata = pd.DataFrame (
    np.c_[irisarray['data'], irisarray['target']],
    columns = irisarray['feature_names'] + ['Species']
)

In [27]:
irisdata['Species'] = irisdata['Species'].astype(int)

In [29]:
irisdata.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [31]:
irisdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   Species            150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [35]:
irisdata.describe().T

                   count      mean       std  min  25%   50%  75%  max
sepal length (cm)  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal width (cm)   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal length (cm)  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal width (cm)   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5
Species            150.0  1.000000  0.819232  0.0  0.0  1.00  2.0  2.0

In [37]:
irisdata.shape

(150, 5)