In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

from scipy.stats import boxcox

In [2]:
df = pd.read_csv('../data/airline_passengers.csv', index_col='Month', parse_dates=True)

In [3]:
df.head()

            Passengers
Month
1949-01-01         112
1949-02-01         118
1949-03-01         132
1949-04-01         129
1949-05-01         121