# SVR for Time Series Regression

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

## Load and Preview Data

In [20]:
data = pd.read_csv('Energy.csv', index_col=0)
pd.set_option('display.max_columns', 50 )

In [22]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,11-01-2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,11-01-2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,11-01-2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,11-01-2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,11-01-2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

#### Attribute Information:
* date time year-month-day hour:minute:second
* **Appliances**, energy use in Wh  <-- **Target Variable**
* lights, energy use of light fixtures in the house in Wh
* T1, Temperature in kitchen area, in Celsius
* RH_1, Humidity in kitchen area, in %
* T2, Temperature in living room area, in Celsius
* RH_2, Humidity in living room area, in %
* T3, Temperature in laundry room area
* RH_3, Humidity in laundry room area, in %
* T4, Temperature in office room, in Celsius
* RH_4, Humidity in office room, in %
* T5, Temperature in bathroom, in Celsius
* RH_5, Humidity in bathroom, in %
* T6, Temperature outside the building (north side), in Celsius
* RH_6, Humidity outside the building (north side), in %
* T7, Temperature in ironing room , in Celsius
* RH_7, Humidity in ironing room, in %
* T8, Temperature in teenager room 2, in Celsius
* RH_8, Humidity in teenager room 2, in %
* T9, Temperature in parents room, in Celsius
* RH_9, Humidity in parents room, in %
* To, Temperature outside (from Chievres weather station), in Celsius
* Pressure (from Chievres weather station), in mm Hg
* RH_out, Humidity outside (from Chievres weather station), in %
* Wind speed (from Chievres weather station), in m/s
* Visibility (from Chievres weather station), in km
* Tdewpoint (from Chievres weather station), Â°C
* rv1, Random variable 1, nondimensional
* rv2, Random variable 2, nondimensional

In [26]:
data.shape

(19735, 29)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.5+ MB

In [32]:
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
date,19735,19735,11-01-2016 17:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Appliances,19735.0,NaN,NaN,NaN,97.694958,102.524891,10.0,50.0,60.0,100.0,1080.0
lights,19735.0,NaN,NaN,NaN,3.801875,7.935988,0.0,0.0,0.0,0.0,70.0
T1,19735.0,NaN,NaN,NaN,21.686571,1.606066,16.79,20.76,21.6,22.6,26.26
RH_1,19735.0,NaN,NaN,NaN,40.259739,3.979299,27.023333,37.333333,39.656667,43.066667,63.36
T2,19735.0,NaN,NaN,NaN,20.341219,2.192974,16.1,18.79,20.0,21.5,29.856667
RH_2,19735.0,NaN,NaN,NaN,40.42042,4.069813,20.463333,37.9,40.5,43.26,56.026667
T3,19735.0,NaN,NaN,NaN,22.267611,2.006111,17.2,20.79,22.1,23.29,29.236
RH_3,19735.0,NaN,NaN,NaN,39.2425,3.254576,28.766667,36.9,38.53,41.76,50.163333
T4,19735.0,NaN,NaN,NaN,20.855335,2.042884,15.1,19.53,20.666667,22.1,26.2
RH_4,19735.0,NaN,NaN,NaN,39.026904,4.341321,27.66,35.53,38.4,42.156667,51.09
T5,19735.0,NaN,NaN,NaN,19.592106,1.844623,15.33,18.2775,19.39,20.619643,25.795
RH_5,19735.0,NaN,NaN,NaN,50.949283,9.022034,29.815,45.4,49.09,53.663333,96.321667
T6,19735.0,NaN,NaN,NaN,7.910939,6.090347,-6.065,3.626667,7.3,11.256,28.29
RH_6,19735.0,NaN,NaN,NaN,54.609083,31.149806,1.0,30.025,55.29,83.226667,99.9
T7,19735.0,NaN,NaN,NaN,20.267106,2.109993,15.39,18.7,20.033333,21.6,26.0
RH_7,19735.0,NaN,NaN,NaN,35.3882,5.114208,23.2,31.5,34.863333,39.0,51.4
T8,19735.0,NaN,NaN,NaN,22.029107,1.956162,16.306667,20.79,22.1,23.39,27.23
RH_8,19735.0,NaN,NaN,NaN,42.936165,5.224361,29.6,39.066667,42.375,46.536,58.78
T9,19735.0,NaN,NaN,NaN,19.485828,2.014712,14.89,18.0,19.39,20.6,24.5
RH_9,19735.0,NaN,NaN,NaN,41.552401,4.151497,29.166667,38.5,40.9,44.338095,53.326667
T_out,19735.0,NaN,NaN,NaN,7.41258,5.318464,-5.0,3.67,6.92,10.4,26.1
Press_mm_hg,19735.0,NaN,NaN,NaN,755.522602,7.399441,729.3,750.933333,756.1,760.933333,772.3
RH_out,19735.0,NaN,NaN,NaN,79.750418,14.901088,24.0,70.333333,83.666667,91.666667,100.0
Windspeed,19735.0,NaN,NaN,NaN,4.039752,2.451221,0.0,2.0,3.666667,5.5,14.0
Visibility,19735.0,NaN,NaN,NaN,38.330834,11.794719,1.0,29.0,40.0,40.0,66.0
Tdewpoint,19735.0,NaN,NaN,NaN,3.760995,4.195248,-6.6,0.9,3.43,6.57,15.5
rv1,19735.0,NaN,NaN,NaN,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.99653
rv2,19735.0,NaN,NaN,NaN,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.99653

In [38]:
energy = data.loc[:,'Appliances']
energy.head()

0    60
1    60
2    50
3    50
4    60
Name: Appliances, dtype: int64