# Timeseries ML Champagne Sales

## Notebook Setup

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_percentage_error, r2_score

In [2]:
df = pd.read_csv('../Data/perrin-freres-monthly-champagne.csv', index_col='Month',
                skipfooter=2, parse_dates=True, engine='python')
# perrin-freres-monthly-champagne.csv

## Data Preparation

In [3]:
df.columns = ['Sales']

In [4]:
df.head()

            Sales
Month
1964-01-01   2815
1964-02-01   2672
1964-03-01   2755
1964-04-01   2721
1964-05-01   2946

In [5]:
df['LogSales'] = np.log(df['Sales'])

In [7]:
Ntest = 12
train = df.iloc[:-Ntest]
test = df.iloc[-Ntest:]

In [8]:
df.head()

            Sales  LogSales
Month
1964-01-01   2815  7.942718
1964-02-01   2672  7.890583
1964-03-01   2755  7.921173
1964-04-01   2721  7.908755
1964-05-01   2946  7.988204

### Make a Supervised Dataset

In [ ]:
series = df[LogSales].to_numpy()

T = 12
X = []
Y = []